<div class='container container-table main-box'>
  <h1>Editing List</h1>
  <%= render 'form', :locals => { :board => @board, :list => @list } %>
  <%= link_to 'Back to board', board_path(@board) %>
</div>
