<!-------------------------Lists#New----------------------------->
<div class='container container-table main-box'>
  <h1>New List</h1>
  <%= render 'form', :locals => { :board => @board, :list => @list } %>
  <%= link_to 'Back', board_path(@board.id) %>
</div>
