<div class='container container-table main-box'>
  <h1>Pinned snippets</h1>
  <!-- PINNED LOGIC -->
  <% @snippets.each do |snip| %>
    <p>
      <% if snip.pinned? %>
        <%= link_to snip.title, list_snippet_path(snip.list_id, snip.id) %>
      <% end%>
    </p>
  <% end %>
</div>
