// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

$mint-color: #4fc8a7;
$purple-color: rgb(113, 61, 133);
$main-container: #d9dbdde1;

$a-tags: "a, a:active, a:hover, a:visited";
$a-tags-hover: "a:active, a:hover";

#{$a-tags} {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
#{$a-tags-hover} {
  color: $mint-color;
}

.navbar {
  background-color: #393e46;
}

.navbar-brand {
  padding-left: 20px;
  font-size: 2rem;
}

.card-links {
  background-color: rgba($purple-color, 0.7);
  color: white;
  font-weight: 400;
}

.card-header {
  background-color: $mint-color;
  color: #fff;
  border-radius: 20px 20px 0px 0px;
  font-size: inherit;
}

.card-body {
  background-color: #eeeeee;
  color: #232931;
}

.pale-button {
  background-color: $mint-color;
}

.mini-code-block {
  border-radius: 5px;
  height: 100px;
}

.tears-logo {
  font-family: "Pacifico", cursive;
  color: white;
  text-decoration: none;
}

.main-box {
  width: 990px;
  margin-top: 30px;
  background-color: #d9dbdd;
  border-radius: 15px;
  padding: 25px 15px 70px;
}

.bottom-toolbar {
  font-size: 1em;
}

.joker {
  color: #707070;
  background-color: #393e46;
}

.top-menu {
  border-radius: 15px;
  background-color: rgba(white, 0.3);
}

.greeting-container {
  background-color: rgba(white, 0.3);
  padding-top: 12px;
  border-radius: 15px;
  @include make-container();
}

.greeting-row {
  @include make-row();
}

.greeting-content-main {
  @include make-col-ready();

  @include media-breakpoint-up(sm) {
    @include make-col(6);
  }
  @include media-breakpoint-up(lg) {
    @include make-col(8);
  }

  padding-top: 15px;
}

.greeting-content-secondary {
  @include make-col-ready();

  @include media-breakpoint-up(sm) {
    @include make-col(6);
  }
  @include media-breakpoint-up(lg) {
    @include make-col(4);
  }

  h3 {
    --bs-text-opacity: 1;
    color: #6c757d94 !important;
  }
}

img:hover {
  transform: scale(1.2);
}

.dash-item {
  max-width: 100px;
  height: 90px;
}

.login-container {
  position: relative;
  height: 100%;
  text-align: center;
  padding-top: 60px;
}

@media (min-width: 768px) {
  .login-container {
    width: 750px;
  }

  .login-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.login-container .content {
  margin-bottom: 90px;
}

.login-container .panel {
  color: #2d3748;
}

.panel {
  max-width: 430px;
  margin: 0 auto 20px;
  border-radius: 15px;
  margin-bottom: 20px;
  background-color: $main-container;
  border: 1px solid transparent;
}

.panel a.panel-footer {
  text-decoration: none;
}
.panel .panel-footer {
  padding: 20px;
  display: block;
  font-size: 17px;
  color: #4a5568;
}
.panel-footer {
  padding: 10px 15px;
}

.panel a.panel-footer > span {
  color: #256a55;
  text-decoration: none;
}

.login-button {
  display: block;
  width: -webkit-fill-available;
}
