// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

$mint-color: #4fc8a7;
$purple-color: rgb(113, 61, 133);
$main-container: #d9dbdde1;

$a-tags: "a, a:active, a:hover, a:visited";
$a-tags-hover: "a:active, a:hover";

#{$a-tags} {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

#{$a-tags-hover} {
  color: $mint-color;
}

* {
  font-family: "Mukta", sans-serif;
}

body {
  background-color: #232931;
}

.btn-primary {
  @include button-variant(
    $mint-color,
    darken($mint-color, 7.5%),
    darken($mint-color, 10%),
    lighten($mint-color, 5%),
    lighten($mint-color, 10%),
    darken($mint-color, 30%)
  );
  color: rgb(0, 0, 0);
}

.btn-primary:hover {
  color: rgba(255, 255, 255, 0.685);
}

.btn-outline-primary {
  @include button-outline-variant(
    $mint-color,
    #222222,
    lighten($mint-color, 5%),
    $mint-color
  );
}

.navbar {
  background-color: #393e46;
}

.navbar-brand {
  padding-left: 20px;
  font-size: 2rem;
}

.card-links {
  background-color: rgba($purple-color, 0.7);
  color: white;
  font-weight: 400;
}

.card-body {
  background-color: #eeeeee;
  color: #232931;
}

.pale-button {
  background-color: $mint-color;
}

.tears-logo {
  font-family: "Pacifico", cursive;
  color: white;
  text-decoration: none;
}

.main-box {
  max-width: 990px;
  display: grid;
  margin-top: 30px;
  background-color: #d9dbdd;
  border-radius: 15px;
  padding: 25px 15px 70px;
}

.bottom-toolbar {
  font-size: 1em;
}

.joker {
  color: #707070;
  background-color: #393e46;
}

.top-menu {
  border-radius: 15px;
  background-color: rgba(white, 0.3);
}

.greeting-container {
  background-color: rgba(white, 0.3);
  padding-top: 12px;
  border-radius: 15px;
  @include make-container();
}

.greeting-row {
  @include make-row();
}

.greeting-content-main {
  @include make-col-ready();

  @include media-breakpoint-up(sm) {
    @include make-col(6);
  }
  @include media-breakpoint-up(lg) {
    @include make-col(8);
  }

  padding-top: 15px;
}

.greeting-content-secondary {
  @include make-col-ready();

  @include media-breakpoint-up(sm) {
    @include make-col(6);
  }
  @include media-breakpoint-up(lg) {
    @include make-col(4);
  }

  h3 {
    --bs-text-opacity: 1;
    color: #6c757d94 !important;
  }
}

.dash-item:hover {
  transform: scale(1.2);
}

.dash-item {
  max-width: 100px;
  height: 90px;
  margin-top: 1rem;
}

.login-container {
  position: relative;
  height: 100%;
  padding-top: 60px;
}

@media (min-width: 768px) {
  .login-container {
    width: 750px;
  }

  .login-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.login-container .content {
  margin-bottom: 90px;
}

.login-container .panel {
  color: #2d3748;
}

.panel {
  max-width: 430px;
  margin: 0 auto 20px;
  border-radius: 15px;
  margin-bottom: 20px;
  background-color: $main-container;
  border: 1px solid transparent;
}

.panel a.panel-footer {
  text-decoration: none;
}
.panel .panel-footer {
  padding: 20px;
  display: block;
  font-size: 17px;
  color: #4a5568;
  text-align: center;
}
.panel-footer {
  padding: 10px 15px;
}

.panel a.panel-footer > span {
  color: #256a55;
  text-decoration: none;
}

.login-button {
  display: block;
  width: -webkit-fill-available;
}

.col-sm {
  display: flex;
  justify-content: center;
}

.form-container {
  background-color: rgba(white, 0.3);
  margin-top: 1rem;
  padding: 1rem;
  width: 67%;
  border-radius: 15px;
}

.empty {
  text-align: center;
}

.empty-img {
  width: 400px;
}

.list-form-box {
  display: flex;
  justify-content: center;
}

.list-box {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
  padding: 1.2rem;
  max-width: 50%;
}

.list-button {
  font-size: 1rem;
}

.top-menu-btns {
  display: flex;
  text-align: center;
  align-items: center;
  margin: 0.2rem;
  flex-direction: column;
}

/* proper responsive attempt on pinned snippets */

.card-header-mint {
  background-color: $mint-color;
  font-size: calc(1rem + 2 * ((100vw - 320px) / 680));
  color: #fff;
  border-radius: 9px 9px 0px 0px;
  padding: 0.5rem 1rem;
  text-align: center;
  font-weight: bold;
}

@media (min-width: 700px) {
  .card-header-mint {
    font-size: 1rem;
  }
}

.card-description {
  background-color: #eeeeeead;
  padding: 0.5rem 1rem;
  font-size: calc(0.6rem + 2.9 * ((100vw - 320px) / 680));
}

.snip-description {
  height: 36px;
  margin-bottom: 0px;
  padding: 5px 0px 0px 15px;
}

.snippet-card-btns {
  position: relative;
}

.snippet-card-btn-group {
  position: absolute;
  bottom: -3rem;
  right: 1rem;
}

.mini-code-block {
  height: 100px;
  font-size: calc(0.6rem + 1.5 * ((100vw - 320px) / 680));
  margin-bottom: -1rem;
  overflow: hidden;
}

.card-timestamp {
  padding-left: 15px;
  font-size: calc(0.6rem + 1.5 * ((100vw - 320px) / 680));
}

.grid-card,
.grid-card-board,
.grid-list-cards,
.grid-snip-cards {
  background-color: #eeeeeed2;
  color: #232931;
  height: 14rem;
  border-radius: 12px;
}

.grid-card-board {
  height: 18rem;
  text-align: center;
}

.grid-list-cards {
  height: 12.5rem;
  text-align: right;
}

.grid-snip-cards {
  height: 17.5rem;
}

.list-card-body {
  text-align: left;
  padding: 1rem 1rem 0rem 1rem;
  font-size: calc(0.6rem + 1.5 * ((100vw - 320px) / 680));
}

.list-card-btns {
  position: relative;
}

.list-card-btn-group {
  position: absolute;
  bottom: -1rem;
  right: 1rem;
}

.list-row {
  width: 100%;
  position: relative;
  top: 2rem;
  display: flex;
  align-items: center;
  left: 12px;
}

.grid-cards-parent,
.grid-lists-parent {
  padding-top: 1.2rem;
  max-width: 1200px;
  display: grid;
  grid-gap: 1rem;
  /* eliminate media queries with one line, a bit iffy */
  // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

@media (min-width: 700px) {
  .grid-cards-parent {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .grid-cards-parent {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid-lists-parent {
    grid-template-columns: repeat(2, 1fr);
  }
}

pre {
  display: grid;
  overflow: hidden;
  margin: 0px 15px 0px;
}
